In [1]:
stock = {
  "NSE:INFY": {
    "instrument_token": 77889,
    "timestamp": "2025-09-10 15:30:00",
    "last_price": 1480.85,
    "ohlc": {
      "open": 1475.00,
      "high": 1485.20,
      "low": 1470.00,
      "close": 1478.50
    },
    "volume": 1200000,
    "change": 0.16,
    "average_price": 1479.55,
    "oi": 0,
    "oi_day_high": 0,
    "oi_day_low": 0,
    "lower_circuit_limit": 1330.65,
    "upper_circuit_limit": 1626.35
  }
}

In [2]:
for symbol, quote in stock.items():
    print(f"Symbol:{symbol}")
    print("*" * 30)
    print(f"Quote:{quote}")

Symbol:NSE:INFY
******************************
Quote:{'instrument_token': 77889, 'timestamp': '2025-09-10 15:30:00', 'last_price': 1480.85, 'ohlc': {'open': 1475.0, 'high': 1485.2, 'low': 1470.0, 'close': 1478.5}, 'volume': 1200000, 'change': 0.16, 'average_price': 1479.55, 'oi': 0, 'oi_day_high': 0, 'oi_day_low': 0, 'lower_circuit_limit': 1330.65, 'upper_circuit_limit': 1626.35}

In [10]:
import pandas as pd
import random
data = {
        'symbol': [
            'INFY', 'TCS', 'RELIANCE', 'HDFC', 'ICICIBANK',
            'AXISBANK', 'HCLTECH', 'LT', 'SBI', 'MARUTI'
        ],
        'instrument_token': [
            random.randint(10000, 99999) for _ in range(10)
        ],
        'last_traded_price': [
            round(random.uniform(100, 2000), 2) for _ in range(10)
        ],
        'volume': [
            random.randint(100000, 5000000) for _ in range(10)
        ]
    }
data_df = pd.DataFrame(data)

In [ ]:
print(data_df)

In [12]:
selected_cols = ["symbol", "instrument_token"]
df = data_df[selected_cols].copy()
print(df)

      symbol  instrument_token
0       INFY             32757
1        TCS             83345
2   RELIANCE             75280
3       HDFC             72760
4  ICICIBANK             98505
5   AXISBANK             28590
6    HCLTECH             14498
7         LT             49528
8        SBI             65816
9     MARUTI             46344

In [15]:
for symbol in df["symbol"]:
    print(symbol)

INFY
TCS
RELIANCE
HDFC
ICICIBANK
AXISBANK
HCLTECH
LT
SBI
MARUTI

In [5]:
import pandas as pd
api_response =   [
        {'symbol': 'NSE:HDFC',
        'instrument_token': 12345,
        'last_price': 1650.50,
        'ohlc': {
            'open': 1640.00,
            'high': 1655.75,
            'low': 1635.50,
            'close': 1645.20
        },
        'volume': 1500000
    },
     {
        'symbol': 'NSE:RELIANCE',
        'instrument_token': 67890,
        'last_price': 2500.25,
        'ohlc': {
            'open': 2485.00,
            'high': 2510.50,
            'low': 2480.00,
            'close': 2495.75
        },
        'volume': 2200000
    },
]
df = pd.DataFrame(api_response)
display(df)

,symbol,instrument_token,last_price,ohlc,volume
0,NSE:HDFC,12345,1650.50,"{'open': 1640.0, 'high': 1655.75, 'low': 1635....",1500000
1,NSE:RELIANCE,67890,2500.25,"{'open': 2485.0, 'high': 2510.5, 'low': 2480.0...",2200000

In [1]:
quotes_dict =  {
    'NSE:HDFC': {
        'instrument_token': 12345,
        'last_price': 1650.50,
        'ohlc': {
            'open': 1640.00,
            'high': 1655.75,
            'low': 1635.50,
            'close': 1645.20
        },
        'volume': 1500000
    },
    'NSE:RELIANCE': {
        'instrument_token': 67890,
        'last_price': 2500.25,
        'ohlc': {
            'open': 2485.00,
            'high': 2510.50,
            'low': 2480.00,
            'close': 2495.75
        },
        'volume': 2200000
    },
    'NSE:ITC': {
        'instrument_token': 11223,
        'last_price': 455.70,
        'ohlc': {
            'open': 450.00,
            'high': 458.20,
            'low': 449.50,
            'close': 452.10
        },
        'volume': 3500000
    },
    'NSE:TCS': {
        'instrument_token': 44556,
        'last_price': 3350.10,
        'ohlc': {
            'open': 3340.00,
            'high': 3360.50,
            'low': 3335.00,
            'close': 3345.80
        },
        'volume': 950000
    },
    'NSE:INFY': {
        'instrument_token': 77889,
        'last_price': 1480.85,
        'ohlc': {
            'open': 1475.00,
            'high': 1485.20,
            'low': 1470.00,
            'close': 1478.50
        },
        'volume': 1200000
    }
}

In [5]:
import pandas as pd
hist_df = pd.DataFrame(data=["NSE:HDFC", "NSE:RELIANCE","NSE:ITC", "NSE:TCS"], columns=["symbol"])
columns_for_merge = ["symbol","instrument_token", "volume"]
# merged_df = hist_df.merge(quotes_dict[columns_for_merge])
dict_to_df = pd.DataFrame(quotes_dict)
display(dict_to_df)

,NSE:HDFC,NSE:RELIANCE,NSE:ITC,NSE:TCS,NSE:INFY
instrument_token,12345,67890,11223,44556,77889
last_price,1650.5,2500.25,455.7,3350.1,1480.85
ohlc,"{'open': 1640.0, 'high': 1655.75, 'low': 1635....","{'open': 2485.0, 'high': 2510.5, 'low': 2480.0...","{'open': 450.0, 'high': 458.2, 'low': 449.5, '...","{'open': 3340.0, 'high': 3360.5, 'low': 3335.0...","{'open': 1475.0, 'high': 1485.2, 'low': 1470.0..."
volume,1500000,2200000,3500000,950000,1200000

In [1]:
import pandas as pd
df = pd.DataFrame({"c": [i for i in range (1,10)]})
display(df)

   c
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9